// Color variables
$colors: (
  white           : #fff,
  grey            : #999,
  black           : #16161d,
  blue            : #2200cc,
  blue-light      : #b3d4fc
) !default;

$gradients: (
  light: (
    from: white,
    to: grey,
    angle: 135deg
  ),
  normal: (
    from: grey,
    to: #ddd,
    angle: 135deg
  ),
  dark: (
    from: black,
    to: #000,
    angle: 135deg
  )
) !default;




