// global settings
$bootstrap-mode:          true !default;

@if not $bootstrap-mode {
  $typography-classes:      false;
  $layout-classes:          false;
  $helper-classes:          false;
  $form-classes:            false;
  $state-classes:           false;
}

// if in boilerplate-mode adapt the prefixes to your need
// by default bonescss will create placeholders selectors and regular selectors
// this will result in class-names like:
// %l-site-width, .l-site-width { /* foobar */ }
// if not in boilerplate mode this will be ignored

$layout-selectors:      "%l-" ".l-" !default;
$text-selectors:        "%t-" ".t-" !default;
$form-selectors:        "%form-" ".form-" !default;
$state-selectors:       "%is-" ".is-" !default;
$state-selectors-and:   "&%is-" "&.is-" !default;


$modern:                    true !default;

@if not $modern {
    $feature-flexbox:       false;
}

@import
  '0.settings.sizes',
  '0.settings.colors',
  '0.settings.typography';
