// Typography settings
$t-light                : 300 !default;
$t-regular              : 400 !default;
$t-bold                 : 600 !default;

$t-default-font-size    : $s-base !default;
$t-default-font-family  : 'Source Sans Pro', sans-serif !default;
$t-default-font-weight  : $t-regular !default;
$t-default-font-style   : normal !default;
$t-default-line-height  : 1.5 !default;

$types: (
  desktop: (
    default: (
      font-size         : 1rem,
      font-family       : $t-default-font-family,
      font-weight       : $t-regular,
      font-style        : normal,
      line-height       : 1.5
    ),
    title: (
      font-weight       : $t-bold,
      font-size         : 2.25rem,
      line-height       : 1.3
    ),
    subtitle: (
      font-weight       : $t-bold,
      font-size         : 1.75rem,
      line-height       : 1.2
    ),
    paragraph: (
      font-size         : 1rem
    )
  ),
  mobile: (
    default: (
      font-size         : 1.15rem,
      line-height       : 1.5
    ),
    title: (
      font-size         : 3rem
    )
  )
) !default;

