$layout-selectors: "%l-" ".l-" !default;
$layout-classes: true !default;

@if $layout-classes {
    @include prefix-rule( "clearfix", $prefixes: $layout-selectors ) {
        @include clearfix;
    }

    @include prefix-rule( "site-width", $prefixes: $layout-selectors ) {
        @include site-width;
    }

    @include prefix-rule( "horizontal-list", $prefixes: $layout-selectors ) {
        @include horizontal;
    }

    @include prefix-rule( "horizontal", $prefixes: $layout-selectors ) {
        @include horizontal($childSelector: '*');
    }

    @include prefix-rule( "horizontal-samewidth-list", $prefixes: $layout-selectors ) {
        @include horizontal-samewidth-list;
    }

    @include prefix-rule( "horizontal-equidistant", $prefixes: $layout-selectors ) {
        @include horizontal-equidistant;
    }

    @include prefix-rule( "table", $prefixes: $layout-selectors) {
        @include table;
    }
    @include prefix-rule( "table-row", $prefixes: $layout-selectors) {
        @include table-row;
    }
    @include prefix-rule( "table-cell", $prefixes: $layout-selectors) {
        @include table-cell;
    }

    @include prefix-rule( "horizontal-extremities", $prefixes: $layout-selectors ) {
        @include horizontal-extremities;
    }

    @include prefix-rule( "fill", $prefixes: $layout-selectors ) {
        @include fill;
    }

    /* centers with table layout and makes sure overflow is reachable when to high */
    @include prefix-rule( "centered", $prefixes: $layout-selectors ) {

    }

    @include prefix-rule( "centered-container", $prefixes: $layout-selectors ) {
        @include centered-container;
    }
    @include prefix-rule( "centered-inner", $prefixes: $layout-selectors) {
        @include centered-inner;
    }
    @include prefix-rule( "centered-content", $prefixes: $layout-selectors) {
        @include centered-content;
    }
    @include prefix-rule( "centered-body", $prefixes: $layout-selectors) {
        @include centered-body;
    }
}

/**
 * Consider adding sensible grid for grid and responsiveness
 * @include sensibleGrid();
 */
