$text-selectors: "%t-" ".t-" !default;

@include prefix-rule( "selectable", $prefixes: $text-selectors ) {
    user-select: text;
}

@include prefix-rule( "not-selectable", $prefixes: $text-selectors ) {
    user-select: none;
}

/**
 * http://stackoverflow.com/questions/11459746/css3-webfont-smoothing-and-antialiasing-in-firefox-and-opera
 */
@include prefix-rule( "antialiased", $prefixes: $text-selectors ) {
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 *  will trucate text needs a fixed width
 *  http://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
 */
@include prefix-rule( "truncate", $prefixes: $text-selectors ) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

$form-selectors: "%form-" ".form-" !default;

/*
 *  will reset buttons styles
 */
@include prefix-rule( "reset-button", $prefixes: $form-selectors ) {
    border: none;
    padding: 0;
    cursor: pointer;
    overflow: visible; // removes padding in IE
    &::-moz-focus-inner {
        // removes padding in Firefox
        border: none;
        padding: 0;
    }
}
