// Clearfix: contain floats
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Class used to wrap the contents of sections that should have the with of the design
@mixin site-width {
  position: relative;
  margin: 0 auto;
  max-width: $s-design-width;
}

$horizontal-list-types: (
  inline: (
    parent: (),
    child: (
      display: inline-block
    )
  ),
  samewidth: (
    parent: (
      display: table,
      width: 100%,
      table-layout: fixed
    ),
    child: (
      height: 100%,
      display: table-cell
    )
  ),
  equidistant: (
    parent: (
      text-align: justify,
      font-size: 0.001px // IE 9 & 10 don't like font-size: 0;
    ),
    child: (
      display: inline-block,
      font-size: $t-default-font-size
    )
  )
);

// creates a inline list
// types:
// inline:         [|---|----|--|-----|      ]

// samewidth:      [|-----|-----|-----|-----|]
//                 all direct children have the same width

// equidistant:    [|---|   |---|   |---|   |---|]
//                 space between children has the same with

// legend:
// list/wrap:      [  ]
// list-item/chil: |--|
@mixin horizontal($childSelector: li, $vAlign: top, $type: inline) {
  $horizontal-list-type: map-get($horizontal-list-types, $type);
  @include cssify-map(map-get($horizontal-list-type, parent));

  list-style: none;
  margin: 0; padding: 0;

  > #{$childSelector} {
    @include cssify-map(map-get($horizontal-list-type, child));
    vertical-align: #{$vAlign};
  }

  @if type == equidistant {
    &:after {
      content: '';
          width: 100%; // Ensures there are at least 2 lines of text, so justification works
          display: inline-block;
        }
      }
    }

// inline list where all direct children have the same width
// [|-----|-----|-----|-----|]

@mixin horizontal-samewidth-list {
  @include horizontal($type: samewidth);
}

// used for elements placed next to each other that should be equidistant
// [|---|   |---|   |---|   |---|]
@mixin horizontal-equidistant {
  @include horizontal($childSelector: '*', $type: equidistant);
}

// used to make table-layouts
// no documentation for now, read the code :D
@mixin table {
  display: table;
  width: 100%;
  box-sizing: border-box;

  // &--gapped {
  //     margin-bottom: -$s-base;
  //     @include prefix-rule( "table-cell", $prefixes: $layout-selectors) {
  //         padding-bottom: $s-base;
  //     }
  //     .l-table-cell + .l-table-cell {
  //         padding-left: $s-base;
  //     }
  // }
}
@mixin table-row {
  display: table-row;
}
@mixin table-cell {
  display: table-cell;
  vertical-align: middle;
  &--max {
    width: 100%;
  }
  &--min {
    width: 1%;
  }
}

// places children at the exremities of the parent
// [|----|                |---|]
@mixin horizontal-extremities {
  @include clearfix;
  > * {
    float: right;
  }
  > *:first-child {
    float: left;
  }
}

// entirely fills out a element
@mixin fill {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

@mixin centered-container {
  @include fill;
  overflow: auto;
}
@mixin centered-inner {
  display: table;
  vertical-align: middle;
  text-align: center;
  height: 100%; width: 100%;
}
@mixin centered-content {
  display: table-cell;
  vertical-align: middle;
}
@mixin centered-body {
  position: relative;
  display: inline-block;
  max-width: 90%;
  text-align: left;
}

// Absolutely centers an element in it's parent horizontal, vertically or in both directions
// @direction {[string]} vertical, horizontal or both
@mixin center-absolute (
  $direction: both,
  $position: absolute
){
  position: $position;
  @if $direction == both {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  } @else if $direction == horizontal {
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction == vertical {
    top: 50%;
    transform: translateY(-50%);
  }
}


// inline-block centering

// [1] Sets font-size to 0.0001px to avoid gaps between
//     the inline-block elements. Not 0 because IE7 and below
//     somehow dislike font-size 0.
// [2] Centers contents horizontally
// [3] Adds a before element to vertical-align the .inner element
// [4] Sets pseudo element to inline-block to make sure
//     vertical-align works
// [5] Makes sure the the element takes the full height of the wrap
// [6] inner needs to be inline-block for vertical-align
// [7] Resets the text-alignment to left (consider removing
//     if contents need to be centered as well)
// [8] Sets the font-size back to the regular font-size
//     can be problematic when using font-size inheritance,
//     consider a different inline-block gap avoiding technique:
//     https://css-tricks.com/fighting-the-space-between-inline-block-elements/
@mixin center-inline-block-wrap () {
  font-size: 0.0001px;            /* [1] */
  text-align: center;             /* [2] */
  &:before {                      /* [3] */
    content: '';                  /* [3] */
    display: inline-block;        /* [4] */
    vertical-align: middle;
    height: 100%;                 /* [5] */
  }
}

@mixin center-inline-block-inner () {
  display: inline-block;          /* [6] */
  text-align: left;               /* [7] */
  font-size: 1rem;                /* [8] */
  vertical-align: middle;
}


// flexbox centering

// [1] wrap need to be set to flex to be able to use justify-content
// [2] Makes sure the contents are centered horizontally since the
//    default flexbox direction is set to row
// [3] centers the inner element vertically

@mixin center-flex-wrap {
  display: flex;                /* [1] */
  justify-content: center;      /* [2] */
}
@mixin center-flex-inner {
  align-self: center;           /* [3] */
}

// Circle trigonometric mixin

// x = a + r cos (t)
// y = b + r cos (t)
// where (a,b) is the center of the circle
// (in our case a = 0 and b = 0 for simplicity. )
// @degres {[degrees]} in deg
// @degres {[radius]} in whatever unit
@mixin translate-point-from-circle-centre($degres, $radius: $s-base) {
  $x-value: circle-x($radius, $degree);
  $y-value: circle-y($radius, $degree);
  transform: translate($x-value, -$y-value);
}
@function circle-x($radius, $degree) {
  @return $radius * cos($degree);
}
@function circle-y($radius, $degree) {
  @return $radius * sin($degree);
}
