// Circle trigonometric mixin
// x = a + r cos (t)
// y = b + r cos (t)
// where (a,b) is the center of the circle
// (in our case a = 0 and b = 0 for simplicity. )
// @degres {[degrees]} in deg
// @degres {[radius]} in whatever unit
@mixin translate-point-from-circle-centre($degres, $radius: $s-base) {
  $x-value: circle-x($radius, $degree);
  $y-value: circle-y($radius, $degree);
  transform: translate($x-value, -$y-value);
}
@function circle-x($radius, $degree) {
  @return $radius * cos($degree);
}
@function circle-y($radius, $degree) {
  @return $radius * sin($degree);
}
