// Color functions
@function color($name) {
  @if map-has-key($colors, $name) {
    @return map-get($colors, $name);
  }
  @warn 'no color named #{$name} in $colors';
  @return null;
}

@function gradient($name) {
  $gradient: map-get($gradients, $name);
  $from: map-get($gradient, 'from');
  $to: map-get($gradient, 'to');
  $angle: map-get($gradient, 'angle');

  @if (map-has-key($colors, $from)) {
    $from: color($from);
  }

  @if (map-has-key($colors, $to)) {
    $to: color($to);
  }

  @return linear-gradient(#{$angle}, #{$from}, #{$to})
}
