$boilerplate-mode       : true;

$colors: (
  white                 : #fff,
  black                 : #16161d,
  blue-light            : pink,
  orange                : rgb(250,190,110),
  green                 : #a0fa8c
);

$s-design-width         : 57rem;
$s-golden               : 1.61803398875;
$s-base                 : 1rem;

$sizes: (
  huge                  : $s-base * ($s-golden * 2),
  large                 : $s-base * $s-golden ,
  medium                : $s-base,
  small                 : $s-base * ($s-golden * .5),
  tiny                  : $s-base * ($s-golden * .15)
);

$t-light                : 300;
$t-regular              : 400;
$t-bold                 : 700;

$t-default-font-size    : 1rem;
$t-default-font-family  : 'Fira Sans', sans-serif;
$t-default-font-weight  : $t-regular;
$t-default-font-style   : normal;
$t-default-line-height  : 1.5;

$types: (
  desktop: (
    default: (
      font-size     : 1rem,
      font-family   : $t-default-font-family,
      font-weight   : $t-regular,
      font-style    : normal,
      line-height   : 1.5
    ),
    title-page: (
      font-weight   : $t-regular,
      font-size     : 4rem,
      line-height   : 1.3,
      margin        : 0
    ),
    title-sub: (
      font-weight   : $t-bold,
      font-size     : 2.25rem,
      line-height   : 1.3,
      margin        : 0
    ),
    title: (
      font-weight   : $t-bold,
      font-size     : 1.75rem,
      line-height   : 1.2
    ),
    lead: (
      font-size     : 1.2rem
    ),
    paragraph: (
      font-size     : 1rem,
      font-weight   : $t-regular
    ),
    sub: (
      font-size     : 0.75rem
    ),
  ),
  tablet: (
    default: (
      font-size     : 1.15rem
    ),
    title-page: (
      font-size     : 3.5rem
    )
  ),
  mobile: (
    default: (
      font-size     : 1.25rem,
      line-height   : 1.5
    ),
    title-page: (
      font-size     : 3rem,
      margin-top    : 0.25em
    )
  )
);


@import
  "../../0.settings",
  "../../mixins";
